* {
    margin: 0;
}

.nav-bar {
    width: 100%;
    height: 80px;
    background-color: #000;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: left;
    align-items: end;
}

#comp-name {
    font-size: 35px;
    min-width: 180px;
    font-family: 'Dela Gothic One', cursive;
    color: rgb(234, 100, 172);
    position: relative;
    top: 5px;
}
.left-nav {
    width: 50%;
    height: 40px;
    padding: 0;
    margin-left: 40px;
    margin-bottom: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5vh;
    display: flex;
    gap: 3.5vh;
}

.features {
    position: relative;
    top: 20px;
}

.features::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: 0.3s;
}

.features:hover::after {
    transform: scale(1);
}

.right-nav {
    width: 50%;
    height: 6vh;
    padding: 0;
    margin-right: 6vh;
    margin-bottom: 0.5vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    gap: 3vh;
    justify-content: right;
    align-items: center;
}

.seach-bar {
    min-width: 150px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(255, 209, 244);
    position: relative;
    bottom: 8px;
}

.seach-bar::placeholder {
    color: black;
}

.right-nav button {
    min-width: 100px;
    height: 35px;
    padding: 0.5vh;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, skyblue, pink, violet);
    position: relative;
    bottom: 8px;
}

.main {
    margin: 20px;
}

.content-container {
    margin-top: 40px;
    width: 100%;
    height: 50vh;
    margin-bottom: 10px;
    border-radius: 15px;
    text-align: center;
    background-image: linear-gradient(to bottom right, pink,skyblue, rgb(189, 74, 189));
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    width: 500px;
    min-width: 300px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.content h1 {
    font-family: 'Dela Gothic One', cursive;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.content button {
    width: 100px;
    min-width: 80px;
    padding: 4px 8px;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    outline: 2px solid black;
    outline-offset: -3px;
    transition: 0.1s;
    border-radius: 20px;
    background-color: black;

}

.content button:hover {
    outline-offset: 3px;
}

.sollu {
    width: 100%;
    height: 400px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 50px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sollu p {
    width: 70%;
    transition: 0.3s;
}

.sollu p:hover {
    color: rgb(0, 89, 255);
}

.intro-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    grid-template-rows: repeat(2, 250px);
    gap: 25px;
    grid-auto-rows: auto;
}

.intro-grid-container img {
    width: 150px;
    border-radius: 50%;
}

.intro-grid-container p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.opnsrc {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

a {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 230, 191);
    text-decoration: none;

}

.opnsrc a:hover {
    color: white;
}

.transparency {
    grid-row-start: 2;
    border: 2px solid rgb(215, 213, 213);
    transition: 0.3s;
}

.des-flex-box {
    margin: 20px;
    display: flex;
    gap: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.transparency a:hover {
    color: #000;
}

.opn-grid-item {
    border-radius: 20px;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.img-flex-box {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.video-bg {
    grid-row: span 2;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
}

.video-bg p {
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 50px;
    left: 50px;
    transition: 0.3s;
}

.video-bg p:hover {
    color: rgb(64, 64, 206);
}

.intro-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.use-case {
    width: 100%;
    height: 60vh;
    margin: 20px 0;
    background-image: linear-gradient(to bottom right, #9BABB8, #EEE3CB, #D7C0AE, #967E76);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
}

.use-case .use-case-description {
    min-width: 50%;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.use-case .descrip {
    width: 500px;
    min-width: 300px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.descrip h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.descrip p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
}

.use-case .picture {
    min-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.use-case img {
    width: 500px;
}

.explore-flex-box {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.explore-grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(2,500px);
    grid-template-rows: auto auto;
}

.explore-grid img {
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.grid-item {
    min-width: 500px;
    min-height: 600px;
    outline: 2px solid;
    border-radius: 10px;
    text-align: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    overflow: hidden;
    transition: 0.3s;
}

.grid-item:hover {
    box-shadow: 6px 6px 12px black;
    scale: 1.01;
}

.grid-item h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}
.grid-item p {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(104, 98, 98);
}

@media (max-width:540px){
    .nav-bar {
        height: 50px;
        justify-content: center;
        align-items: center;
    }
    #comp-name {
        font-size: 28px;
    }
    .right-nav, .features{
        display: none;
    }
    h1{
        font-size: 24px;
    }
    .content{
        width: 350px;
    }
    .sollu>p{
        font-size: 30px;
    }
    .intro-grid-container {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: repeat(3, 300px);
    }
    .intro-grid-container p{
        font-size: 11px;
    }
    .intro-grid-container a{
        font-size: 13px;
    }
    .opnsrc{
        grid-row: 1, 2;
    }
    .transparency{
        grid-row: 2, 3;
    }
    .video-bg{
        grid-row: 3, 4;
    }
    .use-case{
        flex-direction: column-reverse;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .use-case h2{
        font-size: 20px;
    }
    .use-case p{
        font-size: 12px;
    }
    .use-case
    .use-case .use-case-description {
        margin: 25px;
        display: flex;
        
    }
    .use-case .descrip {
        width: 300px;
        display: flex;
        gap: 15px;
        flex-direction: column;
    }
    .picture img{
        width: 350px;
    }
    .explore-grid {
        display: grid;
        gap: 15px;
        grid-template-columns: 350px;
        grid-template-rows: 420px;
    }
    
    .explore-grid img {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    
    .grid-item {
        min-width: 350px;
        min-height: 420px;
        outline: 2px solid;
        border-radius: 10px;
        text-align: center;
        display: flex;
        gap: 10px;
        flex-direction: column;
        overflow: hidden;
        transition: 0.3s;
    }
    
    .grid-item:hover {
        box-shadow: 6px 6px 12px black;
        scale: 1.01;
    }
    
    .grid-item h2 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }
    .grid-item p {
        margin-bottom: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: rgb(104, 98, 98);
    }
    
}
